*.log
*.md
*.pyc
*.pyo
*.pyd
*.swm
*.swo
*.swp
*~
.coverage
.coverage*
.dockerignore
.DS_Store
.git
.github
.gitignore
.idea
.mypy_cache
.pytest_cache
.Python
.venv
.vscode
coverage
coverage.xml
dist
docker-compose.yaml
Dockerfile
env
htmlcov
legacy
node_modules
npm-debug.log
pip-delete-this-directory.txt
pip-log.txt
pytest_cache
Thumbs.db
venv
working
tests
__pycache__
