.idea
.coverage
.coveragerc
.DS_Store
.env
.git/
.idea/
.pytest_cache/
.run/
.venv
.vscode/
_apidocs
_build/
*.code-workspace
*.db
*.egg-info/
*.sqlite
*.pyc
*.sqlite
*.pyc
*-workspace
**/*.egg-info/
**/__pycache__/
**/Archive/
**/desktop.ini
**/*.py.isorted
**/VersionArchive/
*.log
_build
build/
coverage.*
dist/
docs/build/
docs/_build/
docs/source/generated/
htmlcov/
lib/*
lib64
logs/
pyvenv.cfg
tmp/
venv/
