!.vscode/tasks.json
!example.tfvars
*.code-workspace
*.db
*.egg-info/
*.jks
*.key
*.launch
*.log
*.mobileprovision
*.orig.*
*.p12
*.p8
*.parquet
*.py.isorted
*.pyc
*.retry
*.sqlite
*.sublime-workspace
*.tfstate
*.tfstate.*
*_override.tf
*_override.tf.json
.bash_history
.c9/
.cache
.classpath
.cursor/
.DS_Store
.editorconfig
.env
.expo/
.github/instructions/nx.instructions.md
.local
.mypy_cache/
.nx/cache
.nx/workspace-data
.project
.pytest_cache/
.settings/
.terraform/
.terraformrc
.venv/
.yarn/
/.codex/
/.coverage*
/.git/
/.idea/
/.run/
/.sass-cache
/.tmp/
/.vscode/
/connect.lock
/coverage
/dist/
/docs/source/generated/
/htmlcov/
/lib/
/libpeerconnection.log
/out-tsc
/rondfok/
/tasks/todo.md
/typings
/working/
__pycache__/
_build/
android/
ansible/group_vars/vault.yml
ansible/secrets/
apps/rtemobile-e2e/artifacts
bin/
build/
cache/
CodeCoverage.xml
coverage.*
desktop.ini
lib64/
log/
logs/
node_modules/
npm-debug.*
override.tf
override.tf.json
pyvenv.cfg
serve.ps1
settings.json
temp/
terraform.rc
Thumbs.db
tmp/
venv/
VersionArchive/
web-build/
