# 00-new-release-pipeline.yaml
name: New Release Pipeline

on:
  push:
    # Explicitly include all branches; without this, specifying tags-ignore restricts to tag pushes only.
    branches:
      - "**"
    tags-ignore:
      - pr

jobs:
  Pre-Commit:
    uses: ./.github/workflows/01-pre-commit.yaml

  Detect-PR-Tag:
    needs:
      - Pre-Commit
    uses: ./.github/workflows/all-pc-pr-detect_tag-def.yaml
    secrets: inherit

  #  Amend-Release-Notes:
  #    if: ${{ success() && needs.Detect-PR-Tag.outputs.has_pr_tag == 'true' }}
  #    needs:
  #      - Pre-Commit
  #      - Detect-PR-Tag
  #    uses: ./.github/workflows/02-amend-release-notes.yaml

  Merge:
    if: ${{ success() && needs.Detect-PR-Tag.outputs.has_pr_tag == 'true' }}
    needs:
      - Detect-PR-Tag
    uses: ./.github/workflows/03-merge.yaml
    secrets: inherit

  Publish-Release:
    if: ${{ success() && needs.Detect-PR-Tag.outputs.has_pr_tag == 'true' }}
    needs:
      - Merge
      - Detect-PR-Tag
    uses: ./.github/workflows/04-publish-release.yaml
    secrets: inherit

  Send-Notice:
    if: ${{ success() && needs.Detect-PR-Tag.outputs.has_pr_tag == 'true' }}
    needs:
      - Publish-Release
      - Detect-PR-Tag
    uses: ./.github/workflows/05-send-notice.yaml
    secrets: inherit

  Cleanup-Delete-pr-Tag:
    if: ${{ always() && needs.Detect-PR-Tag.outputs.has_pr_tag == 'true' }}
    permissions:
      contents: write
    needs:
      - Send-Notice
      - Detect-PR-Tag
    uses: ./.github/workflows/all-pc-pr-cleanup_tag-def.yaml
    secrets: inherit
