# py-pc-ci-pvt_with_docker-def.yaml

name: CI

on:
  workflow_call:
    secrets:
      GH_REPO_ACCESS_BEE_MASTER:
        required: true
      GH_REPO_ACCESS_RTE_MASTER:
        required: true
      INSTALLER_USERID:
        required: true
      INSTALLER_PWD:
        required: true
      MYSQL_DATABASE:
        required: true
      MYSQL_HOST:
        required: true
      MYSQL_PASSWORD:
        required: true
      MYSQL_ROOT_PASSWORD:
        required: true
      MYSQL_TCP_PORT:
        required: true
      MYSQL_TCP_PORT_EXTERNAL:
        required: true
      MYSQL_TCP_PORT_LOCAL_PROD:
        required: true
      MYSQL_USER:
        required: true
      RELEASE_EMAIL_USER:
        required: true
      RELEASE_EMAIL_PASSWORD:
        required: true
      PROJECT_NAME:
        required: true
      SOCKET_EVENT_SERVICE:
        required: true
      SOCKET_FIDE_PARSER_SERVICE:
        required: true
      SOCKET_RTEAPI:
        required: true
      VENV_ENVIRONMENT:
        required: true

jobs:
  CI:
    runs-on: ${{matrix.os}}
    env:
      GH_REPO_ACCESS_BEE_MASTER: ${{secrets.GH_REPO_ACCESS_BEE_MASTER }}
      GH_REPO_ACCESS_RTE_MASTER: ${{secrets.GH_REPO_ACCESS_RTE_MASTER }}
      INSTALLER_USERID: ${{secrets.INSTALLER_USERID }}
      INSTALLER_PWD: ${{secrets.INSTALLER_PWD }}
      MYSQL_DATABASE: ${{secrets.MYSQL_DATABASE }}
      MYSQL_HOST: ${{secrets.MYSQL_HOST }}
      MYSQL_PASSWORD: ${{secrets.MYSQL_PASSWORD}}
      MYSQL_ROOT_PASSWORD: ${{secrets.MYSQL_ROOT_PASSWORD}}
      MYSQL_TCP_PORT: ${{secrets.MYSQL_TCP_PORT }}
      MYSQL_TCP_PORT_EXTERNAL: ${{secrets.MYSQL_TCP_PORT_EXTERNAL }}
      MYSQL_TCP_PORT_LOCAL_PROD: ${{secrets.MYSQL_TCP_PORT_LOCAL_PROD }}
      MYSQL_USER: ${{secrets.MYSQL_USER}}
      PROJECT_NAME: ${{secrets.PROJECT_NAME }}
      RELEASE_EMAIL_USER: ${{secrets.RELEASE_EMAIL_USER }}
      RELEASE_EMAIL_PASSWORD: ${{secrets.RELEASE_EMAIL_PASSWORD }}
      SOCKET_EVENT_SERVICE: ${{secrets.SOCKET_EVENT_SERVICE }}
      SOCKET_FIDE_PARSER_SERVICE: ${{secrets.SOCKET_FIDE_PARSER_SERVICE }}
      SOCKET_RTEAPI: ${{secrets.SOCKET_RTEAPI }}
      VENV_ENVIRONMENT: ${{secrets.VENV_ENVIRONMENT }}

    strategy:
      fail-fast: true
      matrix:
        #        python-version: ['3.8', '3.9', '3.10', '3.11']
        python-version: ["3.13"]
        #        os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
        os: ["ubuntu-latest"]

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "PATH=$HOME/.local/bin:$PATH" >> $GITHUB_ENV

      - name: Configure Poetry
        run: |
          poetry config keyring.enabled false
          poetry config http-basic.BEE __token__ ${{ secrets.GH_REPO_ACCESS_BEE_MASTER }}
          poetry config http-basic.RTE __token__ ${{ secrets.GH_REPO_ACCESS_RTE_MASTER }}

      - name: Install dependencies
        run: |
          poetry install --with dev

      # Create the .env file that docker compose expects
      - name: Create .env from GitHub Secrets
        run: |
          cat > .env <<'EOF'
          GH_REPO_ACCESS_BEE_MASTER=${{ secrets.GH_REPO_ACCESS_BEE_MASTER }}
          GH_REPO_ACCESS_RTE_MASTER=${{ secrets.GH_REPO_ACCESS_RTE_MASTER }}
          INSTALLER_USERID=${{ secrets.INSTALLER_USERID }}
          INSTALLER_PWD=${{ secrets.INSTALLER_PWD }}
          MYSQL_DATABASE=${{ secrets.MYSQL_DATABASE }}
          MYSQL_HOST=${{ secrets.MYSQL_HOST }}
          MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
          MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}
          MYSQL_TCP_PORT=${{ secrets.MYSQL_TCP_PORT }}
          MYSQL_TCP_PORT_EXTERNAL=${{ env.MYSQL_TCP_PORT_EXTERNAL }}
          MYSQL_TCP_PORT_LOCAL_PROD=${{ env.MYSQL_TCP_PORT_LOCAL_PROD }}
          MYSQL_USER=${{ secrets.MYSQL_USER }}
          PROJECT_NAME=${{ env.PROJECT_NAME }}
          RELEASE_EMAIL_USER=${{ secrets.RELEASE_EMAIL_USER }}
          RELEASE_EMAIL_PASSWORD=${{ secrets.RELEASE_EMAIL_PASSWORD }}
          SOCKET_EVENT_SERVICE=${{secrets.SOCKET_EVENT_SERVICE }}
          SOCKET_FIDE_PARSER_SERVICE=${{secrets.SOCKET_FIDE_PARSER_SERVICE }}
          SOCKET_RTEAPI=${{secrets.SOCKET_RTEAPI }}
          VENV_ENVIRONMENT=${{ secrets.VENV_ENVIRONMENT }}
          EOF

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Start Docker Compose
        run: docker-compose -f docker-compose.yaml up -d

      - name: Wait for services to be ready
        run: |
          echo "Waiting for services to start..."
          sleep 10

      - name: Run pytest with coverage
        run: |
          mkdir logs
          poetry run pytest --cov=./ --cov-report=xml --maxfail=1 tests/

      - name: Tear down Docker Compose
        if: always()
        run: docker-compose -f docker-compose.yaml down
