# py-wf-fork-pvt-merge_no_docker-def.yaml
name: py-wf-fork-pvt-merge_no_docker-def

on:
  workflow_call:
    secrets:
      GH_REPO_ACCESS_BEE_MASTER:
        required: true
      GH_REPO_ACCESS_RTE_MASTER:
        required: true
      INSTALLER_USERID:
        required: true
      INSTALLER_PWD:
        required: true
      MYSQL_DATABASE:
        required: true
      MYSQL_HOST:
        required: true
      MYSQL_PASSWORD:
        required: true
      MYSQL_ROOT_PASSWORD:
        required: true
      MYSQL_TCP_PORT:
        required: true
      MYSQL_USER:
        required: true
      PROJECT_NAME:
        required: true
      RELEASE_EMAIL_USER:
        required: true
      RELEASE_EMAIL_PASSWORD:
        required: true
      VENV_ENVIRONMENT:
        required: true

jobs:
  Pre-Commit:
    uses: BrightEdgeeServices/devops-automation/.github/workflows/py-pc-precom-all-def.yaml@master
    secrets: inherit

  CI:
    uses: BrightEdgeeServices/devops-automation/.github/workflows/py-pc-ci-pvt-no_docker-def.yaml@master
    secrets:
      GH_REPO_ACCESS_BEE_MASTER: ${{secrets.GH_REPO_ACCESS_BEE_MASTER }}
      GH_REPO_ACCESS_RTE_MASTER: ${{secrets.GH_REPO_ACCESS_RTE_MASTER }}
      INSTALLER_USERID: ${{secrets.INSTALLER_USERID }}
      INSTALLER_PWD: ${{secrets.INSTALLER_PWD }}
      MYSQL_DATABASE: ${{secrets.MYSQL_DATABASE }}
      MYSQL_HOST: ${{secrets.MYSQL_HOST }}
      MYSQL_TCP_PORT: ${{secrets.MYSQL_TCP_PORT }}
      MYSQL_PASSWORD: ${{secrets.MYSQL_PASSWORD }}
      MYSQL_ROOT_PASSWORD: ${{secrets.MYSQL_ROOT_PASSWORD }}
      MYSQL_USER: ${{secrets.MYSQL_USER }}
      RELEASE_EMAIL_USER: ${{secrets.RELEASE_EMAIL_USER }}
      RELEASE_EMAIL_PASSWORD: ${{secrets.RELEASE_EMAIL_PASSWORD }}
      VENV_ENVIRONMENT: ${{secrets.VENV_ENVIRONMENT }}

  Merge-with-Local:
    permissions:
      id-token: write
      contents: write
    needs:
      - Pre-Commit
      - CI
    uses: BrightEdgeeServices/devops-automation/.github/workflows/all-pc-fork-all-merge-def.yaml@master
    secrets:
      GH_REPO_ACCESS_BEE_MASTER: ${{secrets.GH_REPO_ACCESS_BEE_MASTER }}
      GH_REPO_ACCESS_RTE_MASTER: ${{secrets.GH_REPO_ACCESS_RTE_MASTER }}
#      RELEASE_EMAIL_PASSWORD:    ${{secrets.RELEASE_EMAIL_PASSWORD }}
#      RELEASE_EMAIL_USER:        ${{secrets.RELEASE_EMAIL_USER }}
